<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="type_data">Tipo do Dado:</label>
        <select name="type_data" id="type_data">
            <option value="json">Json</option>
            <option value="csv">CSV</option>
            <option value="bd">Banco de Dados</option>
        </select>
        <label for="bd_isTrue">Enviar para Banco de Dados</label>
        <input type="radio" name="bd_isTrue" id="bd_isTrue_true" value="true">Sim
        <input type="radio" name="bd_isTrue" id="bd_isTrue_false" value="false">Não
    </form>
</body>
</html>